@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-BoldItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-LightItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Thin.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-HeavyItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-UltraLight.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Regular.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-SemiBold.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Light.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Heavy.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Black.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-UltraLightItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-ThinItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Italic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-SemiBoldItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-Bold.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('tram-pub://fonts/Aileron-BlackItalic.woff2') format('woff2'),
        url('tram-pub://fonts/Aileron-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
