@font-face {
  font-family: 'dreamicons';
  src: url('tram-pub://dreamicons/fonts/dreamicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dream-home:before {
  content: "\f015";
}
.dream-reload:before {
  content: "\f021";
}
.dream-bookmark:before {
  content: "\f02e";
}
.dream-print:before {
  content: "\f02f";
}
.dream-maximize:before {
  content: "\f065";
}
.dream-new:before {
  content: "\f0a3";
}
.dream-plus:before {
  content: "\e906";
}
.dream-close:before {
  content: "\e900";
}
.dream-deny:before {
  content: "\e90c";
}
.dream-gear:before {
  content: "\e90b";
}
.dream-check:before {
  content: "\e908";
}
.dream-information:before {
  content: "\e90a";
}
.dream-leftarrow:before {
  content: "\e901";
}
.dream-rightarrow:before {
  content: "\e905";
}
