@import url('tram-pub://dreamicons/style.css');
@import url('tram-pub://fonts/stylesheet.css');

:root {
    --sidebar-size: 65px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Aileron';
    overflow: hidden;
    font-size: 12px;
}

#viewport {
    position: absolute;
    left: var(--sidebar-size);
    width: calc(100% - var(--sidebar-size));
    height: 100%;
    background-color: black
}

webview {
    width:0;
    height:0;
    background-color: #e1e1e1;
    font-family: 'Aileron';
}

.active {
    width: 100%;
    height: 100%;
    background-color: white;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    width: var(--sidebar-size);
    height: 100%;
    z-index: 99;
    -webkit-app-region: drag;
}

.uiButton {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    width: var(--sidebar-size);
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 18px;
    -webkit-app-region: no-drag;
    transition-timing-function: cubic-bezier(.24,.26,.2,1);
    transition-duration: 0.125s;
}

.uiButton:hover {
    background-color: var(--main-highlight-bg-color);
    color: var(--main-highlight-text-color);
    animation-fill-mode: forwards;
}

.uiButton:active {
    background-color: var(--main-highlight-text-color);
    color: var(--main-highlight-bg-color);
    transition-duration: 0.075s;
    animation-fill-mode: forwards;
}

webview.tempFullScreen {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#home {
    position: absolute;
    bottom: 0;
}

#settings {
    position: absolute;
    bottom: 65px;
}

#devBadge {
    position: absolute;
    bottom: 130px;
    background-color: #2F4FC8;
    color: white;
}

#devBadge:hover {
    background-color: #111F50;
    color: #ADBBEC;
    animation-fill-mode: forwards;
}

#devBadge:active {
    background-color: #ADBBEC;
    color: #111F50;
    transition-duration: 0.075s;
    animation-fill-mode: forwards;
}


#settingsPane {
    position: absolute;
    top: 0;
    right: 0;
    width: 465px;
    height: 100%;
    z-index: 99999999;
}

#darkener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, .79);
    z-index: 9999999;
    transition-timing-function: cubic-bezier(.24,.26,.2,1);
    transition-duration: 0.125s;
}