@import url('../resources/fonts/stylesheet.css');

:root {
  --opacity-base-level: 75%;
  --opacity-mid-level: 82%;
  --opacity-max-level: 93%;
}

::selection {
  background: #1F2B32;
  color: #E1E1E1;
}

#webHub {
  position: absolute;
  left: var(--sidebar-size);
  width: calc(100% - var(--sidebar-size));
  height: 100%;
  max-height: 100%;
  overflow: auto;
  border: none;
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(.24,.26,.2,1);
  transition-duration: 0.125s;
  filter: opacity(0%);
  background-color: rgba(22, 22, 22, .79);
  font-family: 'Aileron';
  color: #E1E1E1;
}

.webHubActive {
  z-index: 9999;
  position: fixed;
  filter: opacity(100%) !important;
}

#webHub * {
  user-select: none;
  cursor: default;
}

h1, h2, h3 {
  font-weight: 600;
  padding: 0;
  filter: opacity(var(--opacity-base-level));
  transition-timing-function: cubic-bezier(.24,.26,.2,1);
  transition-duration: 0.125s;
}

h1:hover {
  filter: opacity(var(--opacity-max-level));
}

h2:hover {
  filter: opacity(var(--opacity-max-level));
}

h3:hover {
  filter: opacity(var(--opacity-max-level));
}

.webHubColumn {
  display: block;
  height: 65px;
  padding: 0;
  margin: 0;
}

#omnibox {
  width: calc(100% - 130px);
  position: fixed;
  top: 0px;
  left: 65px;
  height: 65px;
  padding: 0;
  padding-left: 65px;
  padding-right: 65px;
  font-size: 18px;
  font-family: 'Aileron';
  border: 0;
  border-radius: 0 0 0 0;
  outline: none;
  background-color: #E1E1E1;
  color: #1F2B32;
  filter: opacity(var(--opacity-base-level));
  transition-timing-function: cubic-bezier(.24,.26,.2,1);
  transition-duration: 0.125s;
  user-select: auto;
  cursor: auto;
}

#omnibox:hover, #omnibox:focus {
  filter: opacity(var(--opacity-max-level));
}

#tabHub {
  margin-top: -6px;
  font-weight: 600;
  padding: 0;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
}

.tab {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 2px;
}

.tabCard {
  padding-left: 65px;
  padding-right: 65px;
  background-color: rgb(100,100,100);
  height: 65px;
  text-align: center;
  line-height: 65px;
  max-width: calc(100vw / 2);
  display: inline-block;
  filter: opacity(var(--opacity-base-level));
}

.tabCard h2 {
  padding: 0;
  margin: 0;
  filter: opacity(100%);
  color: white;
}

.tabCard:hover {
  filter: opacity(var(--opacity-mid-level));
}

#tabContainer {
  display: inline-block;
  padding: 0;
  margin: 0;
}
